@model IEnumerable<RTFBLOG.Models.Yorum>

@{
    Layout = null;
}
<h5 class="card-header">Son Yorumlar</h5>


<div class="card-body">

    <ul>
        @foreach (var item in Model)
        {
            <li>@item.Icerik</li>
        }
    </ul>
</div>